{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section --> 
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's show the manufacturers that we love individuality.</h2>
            <h5>Create connections and appreciate the one-of-a-kind collections!</h5>
            <div>
                <button class="btn btn-primary">View Our Members</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>
        </div>
        <div class="col-12 col-md-6"><img src="../../static/images/Protege.JPG" alt="Mazda Protege" class="header-right"></div>
    </header>
    <!-- End of Header Section -->

    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Collection!</h2>
            <p>Utilize our network to find the next addition to your collection!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Display Section -->
    <secion class="row" id="display-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/crown_vic.jpg" alt="Ford Crown Victoria" id="crown-vic">
            <h4>2004 Crown Victoria</h4>
            <p>Silver with tint</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/impala.jpg" alt="Chevy Impala" id="impala">
            <h4>2010 Chevrolet Impala</h4>
            <p>Black Police Interceptor</p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/fusion.jpg" alt="Ford Fusion" id="fusion">
            <h4>2013 Ford Fusion</h4>
            <p>Red LX</p>
        </div>
    </secion>
    <!-- End of Display Section -->

    <!-- Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/Ford-Probe.png" alt="Ford Probe" id="probe">
        </div>
        <div class="col-12 col-md-6">
            <h4>Talk with like-minded collectors!</h4>
            <p>
                Talk with other car enthusiasts around the world and share 
                best practices on maintenance, procurement and information
                on the next show.
            </p>
            <div class="btn btn-primary">View on Instagram</div>
            <div class="btn btn-primary">Join Our Discord Channel</div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-3">
            <div class="footer-text-flex">
                <h4>Showcase</h4>
                <p>Our Story</p>
                <p>The Cars</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-3">
            <div class="footer-text-flex">
                <h4>Showcase</h4>
                <p>Our Story</p>
                <p>The Cars</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-3">
            <div class="footer-text-flex">
                <h4>Showcase</h4>
                <p>Our Story</p>
                <p>The Cars</p>
                <p>Spread the Word</p>
            </div>
        </div>
        <div class="col-3">
            <img src="../../static/images/jeepgc.jpg" alt="Grand Cherokee" id="jeepgc">
        </div>
    </footer>
    <!-- End of Footer Section -->
</div>




{% endblock content %}